-server
-Xmx512m
-Xms256m
-Duser.timezone=UTC
-Dfile.encoding=UTF-8
-Ddruid.extensions.loadList=[\"mysql-metadata-storage\"]
-Ddruid.extensions.directory="/usr/local/druid/extensions"
-Ddruid.extensions.hadoopDependenciesDir="/usr/local/druid/hadoop-dependencies"
-Ddruid.metadata.storage.type=mysql
-Ddruid.metadata.storage.connector.connectURI=jdbc:mysql://localhost:3306/druid
-Ddruid.metadata.storage.connector.user=druid
-Ddruid.metadata.storage.connector.password=my-secret-pw
-Ddruid.indexer.fork.property.druid.processing.numThreads=1
-Ddruid.indexer.runner.javaOpts=-server -Xmx256m -XX:MaxDirectMemorySize=1617712736
-Ddruid.indexer.storage.type=metadata
-Ddruid.coordinator.asOverlord.enabled=true
-Ddruid.coordinator.asOverlord.overlordService=druid/overlord
-Ddruid.indexer.queue.startDelay=PT0M
-Ddruid.coordinator.startDelay=PT5S
