-server
-Xmx512m
-Xms256m
-Duser.timezone=UTC
-Dfile.encoding=UTF-8
-Ddruid.computation.buffer.size=268435456
-Ddruid.broker.cache.sizeInBytes=268435456
-Ddruid.indexer.runner.javaOpts=-server -Xmx256m -XX:MaxDirectMemorySize=1647483648
-Ddruid.extensions.directory=/usr/local/druid/extensions
-Ddruid.extensions.hadoopDependenciesDir=/usr/local/druid/hadoop-dependencies
