-server
-Xmx512m
-Xms256m
-Duser.timezone=UTC
-Dfile.encoding=UTF-8
-Ddruid.extensions.loadList=[\"druid-s3-extensions\"]
-Ddruid.extensions.directory=/usr/local/druid/extensions
-Ddruid.extensions.hadoopDependenciesDir=/usr/local/druid/hadoop-dependencies
-Ddruid.s3.accessKey=AKIAIMKECRUYKDQGR6YQ
-Ddruid.s3.secretKey=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
-Ddruid.indexer.runner.javaOpts=-server -Xmx256m -XX:MaxDirectMemorySize=1547483648
-Ddruid.computation.buffer.size=67108864
-Ddruid.server.maxSize=2500000000
